body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.profile-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.edit-form {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-top: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-top: 10px;
}

.edit-button {
    display: block;
    width: 100%; /* يجعل الزر طويلاً ليشغل العرض الكامل */
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

.edit-button:hover {
    background-color: #0056b3;
}

.submit-button {
    display: block;/* يجعل الزر طويلاً ليشغل العرض الكامل */
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}